src
sonar-project.properties
.gitlab-ci.yml
internals
.npmrc
.babelrc
babel.config.js
babel.ext.json
styleguide.config.js
test-setup.js
declination.json
CODE_OF_CONDUCT.md
CHANGELOG.md
CONTRIBUTING.md
.travis-ci.yml
rollup.config.js
src/**/*.md
